.card-container {
  position: relative;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 8px solid transparent;
  background-clip: padding-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: gradientAnimation 12s ease infinite;
  max-width: 1200px;
  border-image: linear-gradient(
      90deg,
      rgba(220, 202, 233) 28%,
      rgba(119, 178, 208, 1) 71%
    )
    5;
}

.card-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

@keyframes gradientAnimation {
  0% {
    border-image-source: linear-gradient(
      90deg,
      rgba(220, 202, 233) 28%,
      rgba(119, 178, 208, 1) 71%
    );
  }
  50% {
    border-image-source: linear-gradient(
      90deg,
      rgba(119, 178, 208, 1) 28%,
      rgba(220, 202, 233) 71%
    );
  }
  100% {
    border-image-source: linear-gradient(
      90deg,
      rgba(220, 202, 233) 28%,
      rgba(119, 178, 208, 1) 71%
    );
  }
}
.card-content {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
}

.text-section {
  flex: 2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #2c3e50;
}

.card-text {
  font-size: 1.4rem;
  color: #34495e;
  line-height: 1.6;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e0e0e0;
  max-width: 300px;
}

.image-section img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 0 10px 10px 0;
}

.image-section img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .card-container {
    width: 90%;
  }

  .card-content {
    flex-direction: column;
  }

  .text-section {
    padding: 15px;
  }

  .card-title {
    font-size: 1.8rem;
  }

  .card-text {
    font-size: 1.2rem;
  }

  .image-section {
    border-left: none;
    border-top: 1px solid #e0e0e0;
    max-width: 100%;
  }

  .image-section img {
    border-radius: 0 0 10px 10px;
  }
}
