

.carousel-container {
  width: 70%;
  height:550px;
  margin: 70px auto 180px;
  position: relative; 
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 16px rgb(112, 112, 112);
}

.carousel-inner {
  justify-content: center; 
  padding: 50px;
}
h1{
  display: flex;
  justify-content: center;
  margin-top: 60px;
  font-family: "Aleo", serif;
}
.card {
  margin: 0 10px; 
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%); 
  width: 5%;
  
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 500px;
  height: 100px;
    background-color: rgb(0, 0, 0); 
    border-radius: 50%; 

.btn {
  font-size: 1.2rem; 
  padding: 12px 24px; 
  background-color: transparent; 
  color: black; 
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease; 
}

.btn:hover {
  background-color: black;
  color: white; 
}

}