<h1 class="card-title">La epoca dorada de los Juegos Indies</h1>
<div
  class="Main conteiner"
  style="padding-top: 60px; padding-left: 18%; border-radius: 15%"
>
<div class="card mb-3" style="max-width: 90%; height: 500px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://phantom-marca.unidadeditorial.es/ae1df914199df2ab256efc6a84fb3e71/resize/828/f/jpg/assets/multimedia/imagenes/2021/10/10/16338655958801.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">
            En el mercado de los videojuegos estan reinados por juegos triple A
            o juegos como servicio pero eso no impide que los sectores mas
            pequeños como son los videojuegos indies cada dia sean mas
            populares, ya que multitud de gamers se han sentido estancados con
            los videojuegos actuales ¿pero por què ahora los gamers se sienten
            menos ganar de juegar algun videojuego? Esto se debe a la poca
            innovaccion por parte de las grandes empresas implementan en sus
            franquicias
          </p>
          <p class="card-text">
            Gracias a ello el sector de los juegos independientes ha tenido una
            gran aceptaciòn por parte del publico por lo innovador y atrevido
            que estos pueden llegar a ser, o simplemente tiene elementos
            sencillos pero con mecanicas divertidas, juegos como starwdey
            valley, hollow knight o dead cells son juegos que tienen una
            estructura que no es nueva, pero que su forma de jugar estan muy
            pulidas que evitan caer en un juego mas del monton
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="linear-grand"></div>
