<div
  class="Main conteiner"
  style="padding-top: 20px; padding-left: 18%; border-radius: 15%"
>
  <div class="card mb-3" style="max-width: 90%; height: 500px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://phantom-marca.unidadeditorial.es/ae1df914199df2ab256efc6a84fb3e71/resize/828/f/jpg/assets/multimedia/imagenes/2021/10/10/16338655958801.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card e</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
            voluptate! Obcaecati exercitationem natus quis eum quod eius saepe
            excepturi voluptatibus, expedita, laborum soluta vel repellendus
            tempore sunt eveniet est quos?
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="linear-grand"
></div>