<div class="card-container">
    <div class="card mb-3" style="max-width: 90%; height: 500px;">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card Example</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita,
              voluptate! Obcaecati exercitationem natus quis eum quod eius saepe
              excepturi voluptatibus, expedita, laborum soluta vel repellendus
              tempore sunt eveniet est quos?
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="image-container">
            <img
              src="https://phantom-marca.unidadeditorial.es/ae1df914199df2ab256efc6a84fb3e71/resize/828/f/jpg/assets/multimedia/imagenes/2021/10/10/16338655958801.jpg"
              class="img-fluid rounded-end"
              alt="Card image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  