.content-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;  
  }
  .content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
  }

  .content-body{
    padding-top: 5rem;
  }