<h1 class="blog-title">{{ title }}</h1>
<div class="blog-card-container">
  <div *ngFor="let group of CardsItems" class="blog-card-group">
    <div *ngFor="let card of group.cards" class="blog-card">
      <div class="blog-image-container">
        <img [src]="card.img" class="blog-image" />
      </div>
      <div class="blog-info">
        <h2 class="blog-card-title">{{ card.title }}</h2>
        <p class="blog-card-date">{{ card.date }}</p>
        <p class="blog-card-text">{{ card.text }}</p>
      </div>
    </div>
  </div>
</div>
