<div class="page-container">
  <div class="content-wrapper">
    <div class="row row-cols-1 row-cols-md-3 g-1 full-width">
      <div class="col" *ngFor="let card of cards">
        <div class="card" (click)="onCardClick(card)">
          <div class="image-container">
            <img [src]="card.img" class="card-img-top" alt="..." />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
