
<div class="card-container">
    <div class="card w-75 mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="image-container">
            <img
              src="https://i.pinimg.com/236x/62/71/9d/62719dd0791ddc6faa05f0c58e05a2bd.jpg"
              class="img-fluid rounded-start"
              alt="Image"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title 1</h5>
            <p class="card-text">
              Supporting text for the first card.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card-container">
    <div class="card w-75 mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="image-container">
            <img
              src="https://i.pinimg.com/236x/5f/4b/6a/5f4b6af948ed6b536454e95c96ecdfa1.jpg"
              class="img-fluid rounded-start"
              alt="Image"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">
              Supporting text for the second card.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card w-75 mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="image-container">
            <img
              src="https://img.wattpad.com/b1460709311b01f80b16cd335f30486ed4cf720e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f667632344e6f3933546e72435f513d3d2d31382e313561653966663336626666343631353930353832323537353737322e6a7067"
              class="img-fluid rounded-start"
              alt="Image"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">
              Supporting text for the second card.adasdasd
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="card-container">
    <div class="card w-75 mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="image-container">
            <img
              src="https://img.wattpad.com/0227e689fb13e2f2b397fcd91aa45a4f68807fae/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f2d71454769566b7646754d4773413d3d2d32362e313630643937663637333934326637323934313532333132303336312e6a7067"
              class="img-fluid rounded-start"
              alt="Image"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">
              Supporting text for the second card.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card-container">
    <div class="card w-75 mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="image-container">
            <img
              src="https://animemotivation.com/wp-content/uploads/2023/06/cute-anime-pfp-profile-pictures-girls-23.jpg"
              class="img-fluid rounded-start"
              alt="Image"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">
              Supporting text for the second card.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  
  <app-footer></app-footer>
  