.footer-container {
  width: 100%;
  background-color: #77B2D0;
  height: 150px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.footer-container .container {
  height: 100%;
}

.footer-container h3 {
  font-size: 28px;
  margin-bottom: 0;
}

.footer-container .row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section:not(:last-child) {
  height: 90px;
  border-right: 1px solid white;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

svg {
  cursor: pointer;
  fill: white;
  
  transition: fill 0.3s ease;
}

svg:hover {
  fill: #ccc; 
}
