<h1 class="card-title">La época dorada de los Juegos Indies</h1>

<div class="Main-conteiner">
  <div class="card-conteiner card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://phantom-marca.unidadeditorial.es/ae1df914199df2ab256efc6a84fb3e71/resize/828/f/jpg/assets/multimedia/imagenes/2021/10/10/16338655958801.jpg"
          class="img-fluid rounded-start"
          alt="Imagen de la época dorada de los videojuegos indies"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text">{{ paragram1 }}</p>
          <p class="card-text">{{ paragram2 }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="linear-grand"></div>
