<div class="page-container">
  <div class="content-wrapper">
    <div class="row row-cols-4 justify-content-center">
      <div class="col" *ngFor="let card of cardsDescription; let i = index">
        <div class="card" (click)="onCardClick(i)" [ngClass]="getCardShadowClass(i)">
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">{{ card.description }}</p>
            <small class="text-muted">{{ card.date }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
